.App{
  background-color:  #24314d;
  min-height: 100vh;

}
section {
  color: #fff;
  min-height: 100vh;

}

.navBg{
  background-color: #ff000000;
}

.wrapper{
  margin-top: 5%;
}
.tarjeta{
  background-color: #2e3a50 !important;
  align-items: center;
}
.padre{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.form-login{
  display: flex;
  flex-direction: column;
  align-items: center;
}